$body-bg-color: #373A3C;
$body-bg-color2: radial-gradient(100% 100% at 50% 0%, #686C6F 0%, #373A3C 100%);


$white: #FFF;
$green: #8DD83D;
$dark-green: #7DD42F;
$gray: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);